* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(239, 237, 237);
}

section {
    height: 450px;
    margin: 91px;
    background-color: #fff;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section::-webkit-scrollbar {
    width: 5px;
}
section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#name-input {
    width: 750px;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
    border: hidden;
    border-bottom: 1px solid black;
    outline: none;
}
#tag-input {
    width: 750px;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
    border: hidden;
    border-bottom: 1px solid black;
    outline: none;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card {
    width: 50rem;
    background-color: white;
    display: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(232, 229, 229);
}

.card-left {
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.card-right {
    float: left;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.expand-btn {
    float: right;
    margin: 35px 10px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/25/25232.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: hidden;
    outline: none;
}
.expand-btn:hover {
    float: right;
    margin: 35px 10px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/25/25232.svg) no-repeat top left;
    opacity: 0.5;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: hidden;
    outline: none;
}

button:not(.clicked) {
    float: right;
    margin: 35px 10px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/25/25304.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: hidden;
    outline: none;
}
button:not(.clicked):hover {
    float: right;
    margin: 35px 10px;
    background: url(https://www.flaticon.com/svg/static/icons/svg/25/25304.svg) no-repeat top left;
    opacity: 0.5;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: hidden;
    outline: none;
}

.card .card-img {
    margin: 10px 20px;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
    border: 2px solid rgb(188, 188, 188);
    background-color: white;
}

.card h1 {
    float: left;
    font-size: 2.5rem;
    color: #333;
}

.card-email {
    margin-left: 15px;
}
.card-company {
    margin-left: 15px;
}

.card-skill {
    margin-left: 15px;
}

.card-avg {
    margin-left: 15px;
}
.card-score {
    margin: 15px 15px;
}
.add-tag-input {
    width: 150px;
    font-size: 17px;
    padding: 6px;
    margin-top: 8px;
    border: hidden;
    border-bottom: 2px solid black;
    outline: none;
}

.card-tag {
    background-color: rgb(188, 188, 188);
    display: fixed;
    width: 100px;
    height: 25px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 3px;
    cursor: pointer;
    border-radius: 4px;
}
